<!-- Main content area -->
<main class="container">
    <div class="row">

        <!-- Sidebar -->
        <aside class="col-md-4">
            <div class="sidebar-box">
                <h4>Filter</h4>
                <%= form_tag destinations_path, :method => 'get', :id => "destinations_filter", remote: true, :dataType => "script" do %>
                <div class="list-group list-group-root">
                    <a class="list-group-item" href="index.html">Home Page</a>
                    <%= hidden_field_tag('search',value= params[:search])%>
                    <a class="list-group-item">Filter by rating</a>
                    <div class="list-group"> 
                        <% (0..5).step(1) do |i|%>
                        <a class="list-group-item img-check active"> <strong> <%= render 'shared/star', :locals => {:rating => i  }%></strong>
                        <%= check_box_tag("rates[]", i, checked = true, class: 'hidden checkbox') %>
                        </a>
                        <%end%>
                    </div>
                    <a class="list-group-item">Filter by location</a>
                    <div class="list-group"> 
                        <% Category.all.each do |category|%>
                        <a class="list-group-item img-check active">  <%= category['name']%>
                        <%= check_box_tag("categories[]", category['id'], checked = true, class: 'hidden checkbox') %>
                        </a>
                        <% end %>
                    </div>
                </div>
                <%end%>
            </div>

            <div class="sidebar-box sidebar-box-bg">
                <h4>About us</h4>
                <p>Aenean nec massa a tortor auctor sodales sed a dolor. Duis vitae lorem sem. Proin at velit vel arcu
                    pretium luctus. <a href="#" class="readmore">Read More &raquo;</a></p>
            </div>
            <div class="sidebar-box">
                <h4>Helpful Links</h4>
                <ul>
                    <li><a href="http://www.themeforest.net/?ref=spykawg" title="premium templates">Premium HTML web
                            templates from $10</a></li>
                    <li><a href="http://www.dreamhost.com/r.cgi?259541" title="web hosting">Cheap web hosting from
                            Dreamhost</a></li>
                    <li><a href="http://tuxthemes.com" title="Tux Themes">Premium WordPress themes</a></li>
                </ul>
            </div>
        </aside>

        <!-- Main content -->
        <div class="col-md-8">
        <div class="well well-sm" id="filterrific_results">
        <%if params[:search].blank? %>
        <strong> List Destination</strong>
        <%else%>
        <strong> <%= params[:search]%></strong>
        <%end%>
    </div>


            <div id = "destinations">
                <%= render 'shared/list_destination', :destinations => @destinations%>
            </div>
        </div>



        <!-- Bootcamp JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
</main>
<style>

</style>
<script>

$(document).ready(function(e){
    $(".img-check").click(function(){
        var checkbox = $(this).find(".checkbox")[0];
        var check = checkbox.checked
        if (check == false){
            $(this).toggleClass("active");
            $(checkbox).prop('checked',true);      
            $.ajax({
                url: '/destinations',
                type: "GET",
                dataType: "script",
                data:  $("#destinations_filter").serialize()
            })     
        }
        else{
            console.log(checkbox.checked); 
            $(this).removeClass("active");
            $(checkbox).prop('checked',false);
            $.ajax({
                url: $("#destinations_filter").attr("action"),
                type: "GET",
                dataType: "script",
                data:  $("#destinations_filter").serialize()
            })   

        }
	});
});


</script>
<script src="../assets/star.js"></script>