 <div class="col-md-8">
    
        <article>
            <% hot_destinations.each do |hot_destinations|%>
            <div  style='margin-top: 54px;'>
                        <div class="card text-center">
                          <img class="card-img-top" src="<%= hot_destinations.picture_path %>" alt="Card image cap">
                          <div class="card-body">
                            <p class="card-text"><%= hot_destinations.speciality%></p>
                            <a href="/destinations/<%=hot_destinations.id%>" class="btn btn-primary"><%= hot_destinations.name%></a>
                          </div>
                        </div>
                    </div>   
                    <% end %>     
        </article>

        <article>
            <div class="card-container" style="padding: 0rem 0 !important;">
            <div class="container">
                <div class="padded-box row">
                <% destinations.each do |destination|%>
                    <div class="col-md-4">
                        <div class="card text-center">
                          <img class="card-img-top" src="<%= destination.picture_path %>" alt="Card image cap">
                          <div class="card-body">
                            <p class="card-text"><%= destination.speciality%></p>
                            <a href="/destinations/<%=destination.id%>" class="btn btn-primary"> <%= destination.name%></a>
                          </div>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
        
        </article>


        <!-- Example pagination Bootstrap component -->
        <nav>
            <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
            </ul>
        </nav>
    </div>
