<article>
<% if !destinations.blank? %>
            <div class="card-container" style="padding: 0rem 0 !important;">
            <div class="container">
                <div class="padded-box row">
                <% destinations.each do |destination|%>
                    <div class="col-md-4">
                        <div class="card text-center" style= "height: 297px;width: 230px;margin-bottom : 20px;">
                          <img class="card-img-top" style="width: 100%; height : 170px" src="<%= destination.picture_path %>" alt="Card image cap">
                          <div class="card-body">
                            <p class="card-text" style= "height: 31px;width: 200px;"><%= destination.speciality%></p>
                            <a href="/destinations/<%=destination.id%>" class="btn btn-primary" style='white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width: 130px;' > <%= destination.name%></a>
                          </div>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
                <div><%= will_paginate @destinations, renderer: WillPaginate::ActionView::BootstrapLinkRenderer%> </div>
                <%else%>
                <div> There's no destination</div>
                <%end%>
        </article>