<!DOCTYPE html>
<html>
  <head>
    <title>Homecoming</title>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/assets/pagelist.css">
        <link rel="stylesheet" type="text/css" href="/assets/review.css">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="/assets/editor.css" type="text/css" rel="stylesheet"/>
    <%= render 'layouts/rails_default' %>
  </head>

  <body >
    <%= render 'shared/header' %>
    <!-- <p class="notice"><%= notice %></p> -->
    <!-- <p class="alert"><%= alert %></p> -->
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
    <script src="/assets/editor.js"></script>
    
    <script>
      $(document).ready(function() {
        $("#txtEditor").Editor();
      });
    </script>
</html>
  