<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-10">
            <h1>
                <%= @user.nickname %>
            </h1>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->


            <div class="text-center">
                <div class="avatar">
                    <% if @user.picture_path == nil %>
                    <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail"
                        alt="avatar">
                    <% else %>
                    <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail"
                        alt="avatar">
                    <% end %>
                    <h6>Upload a different photo...</h6>
                </div>


                <%= form_for(@user) do |f| %>
                <div class="propic-edit">
                    <%= f.file_field :picture_path, accept: "image/jpeg,image/gif,image/png",    id: "upload-pic" %>
                </div>
                <%= f.submit "Click Me To Update", class: "btn btn-success" %>
                <% end %>
            </div>
            </hr><br>

            <ul class="list-group">
                <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Reviews</strong></span>
                    <%= @user.reviews.count %>
                </li>
            </ul>


        </div>
        <!--/col-3-->
        <div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
                <li class="active"><a data-toggle="tab" href="#history">History</a></li>
            </ul>


            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <div class="col-xs-6">

                        <!-- <input type="email" class="form-control" name="email" id="email" value = "<%= @user.email %>" placeholder="<%= @user.email %>" title="enter your email."> -->
                    </div>
                    <br>
                    <% if current_user.id == @user.id %>
                    <div class="container">


                        <!-- -------0 -->
                        <div class=" col-sm-4">

                            <%= form_for(@user) do |f| %>
                            <div class="right-block-edit">
                                <h3>
                                    <%=t("Change Your Info")%>
                                </h3>
                                <div class="name-edit">
                                    <% if @user.errors[:nickname].length != 0%>
                                    <div class="error-messages">
                                        <%= @user.errors[:nickname][0] %>
                                    </div>
                                    <% end %>
                                    <%= f.label :nickname, t("Registered Name") %>
                                    <%= f.text_field :nickname, class: "form-control" %>
                                </div>
                                <div class="email-edit">
                                    <% if @user.errors[:email].length != 0%>
                                    <div class="error-messages">
                                        <%= @user.errors[:email][0] %>
                                    </div>
                                    <% end %>
                                    <%= f.label :email, "Registered Email" %>
                                    <%= f.text_field :email, class: "form-control" %>
                                </div>
                                <%= f.submit "Click Me To Update", class: "btn btn-success" %>
                                <% end %>
                            </div>
                        </div>
                        <!--  <form class="form" action="/users" method="post" id="registrationForm">
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="nickname">
                                    <h4>Nickname</h4>
                                </label>
                                <input type="text" class="form-control" name="nickname" id="nickname" value="<%= @user.nickname %>"
                                    placeholder="<%= @user.nickname %>" title="enter your nickname">
                            </div>

                        </div>
                        <div class="form-group">
                        </div>

                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="password">
                                    <h4>Old Password(*)</h4>
                                </label>
                                <input type="password" class="form-control" name="password" id="password" value="<%= @user.password %>"
                                    placeholder="password" title="enter your password.">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="password">
                                    <h4>New Password</h4>
                                </label>
                                <input type="password" class="form-control" name="password" id="password" value="<%= @user.password %>"
                                    placeholder="password" title="enter your password.">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="password2">
                                    <h4>Password Confirmation</h4>
                                </label>
                                <input type="password" class="form-control" name="password2" id="password2" value="<%= @user.password %>"
                                    placeholder="password2" title="Re-enter your password2.">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <br>
                                <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i>
                                    Save</button>
                                <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i>
                                    Reset</button>
                            </div>
                        </div>
                    </form> -->
                        <div class="col-sm-4">
                            <h3 style="margin-top: 5%">Change Password</h3>
                            <%= form_for(@user) do |f| %>
                            <% if @user.errors[:password].length != 0%>
                            <div class="error-messages">
                                <%= @user.errors[:password][0] %>
                            </div>
                            <% end %>
                            <%= f.label :password, "Enter New Password" %>
                            <%= f.password_field :password, class: "form-control" %>

                            <% if @user.errors[:password_confirmation].length != 0%>
                            <div class="error-messages">
                                <%= @user.errors[:password_confirmation][0] %>
                            </div>
                            <% end %>
                            <%= f.label :password_confirmation, "Confirm New Password" %>
                            <%= f.password_field :password_confirmation, class: "form-control" %>
                            <p style="margin-bottom: 5%;"></p>
                            <%= f.submit "Change Password", class: "btn btn-warning" %>
                            <% end %>

                        </div>
                    </div>

                    <% else %>

                    <div class="col-xs-6">
                        <label for="nickname">
                            <h4>Nickname: </h4>
                        </label>
                        <div>
                            <%= @user.nickname %>
                        </div>
                    </div>
                    <% end %>
                    <hr>

                </div>

                <div class="tab-pane inactive" id="history">
                    <% if @user.reviews.count ==0%>
                    <h1> There is no review </h1>
                    <% else %>
                    <br>
                    <% @user.reviews.each do |review| %>
                    <div class="row">
                        <div class="well" style="background-color:#ffffff">
                            <div class="media" style="height: 170px">
                                <div class="pull-left">
                                    <% if review.user.picture_path != nil %>
                                    <img class="media-object" style="width: auto; height: 150px" src=" <%=review.user.picture_path%>"
                                        alt="have image">
                                    <% else %>
                                    <img class="media-object" style="width: auto; height: 150px" src="https://us.123rf.com/450wm/apoev/apoev1709/apoev170900088/85467744-default-avatar-anime-girl-profile-icon-grey-photo-manga-placeholder.jpg?ver=6">
                                    <% end %>
                                    <p style="width: 150px;text-align:center">
                                        <%= link_to review.user.nickname, controller: "users", action: "show", id: review.user.id %>
                                    </p>
                                </div>

                                <div class="media-body" style="width:600px">
                                    <h3 class="media-heading">
                                        <%= link_to review.title, [review.destination, review] %>
                                    </h3>

                                    <div style="height:60px;line-height:20px; /* Height / no. of lines to display */overflow:hidden; margin-bottom:30px">
                                        <%= review.content.html_safe %>
                                    </div>

                                    <ul class="list-inline list-unstyled text-right">
                                        <li><span><i class="glyphicon glyphicon-calendar"></i>
                                                <%= review.created_at%> </span></li>
                                        <li>|</li>
                                        <span><i class="glyphicon glyphicon-comment"></i>
                                            <%= review.comments.count%></span>
                                        <li>|</li>
                                        <li>
                                            <%= render 'shared/star', :locals => {:rating => review.rating  }%>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%end%>
                    <%end%>


                </div>

                <!--/tab-content-->

            </div>
            <!--/col-9-->
        </div>
        <!--/row-->

        <!-- Owning Groups -->
        <div class="row">
            <div>
                <h3 class="page-header">Owning Groups</h3>
            </div>
            <% if @user.groups.count != 0 %>
            <% @user.groups.each do |group| %>
            <div class="row">
                <div class="well" style="background-color:#ffffff">
                    <div class="media" style="height: 170px">
                        <div class="pull-left">
                            <% if @user.picture_path != nil %>
                            <img class="media-object" style="width: auto; height: 150px" src=" <%=@user.picture_path%>"
                                alt="have image">
                            <% else %>
                            <img class="media-object" style="width: auto; height: 150px" src="https://us.123rf.com/450wm/apoev/apoev1709/apoev170900088/85467744-default-avatar-anime-girl-profile-icon-grey-photo-manga-placeholder.jpg?ver=6">
                            <% end %>
                        </div>

                        <div class="media-body" style="width:900px">
                            <h3 class="media-heading">
                                <p>
                                    <%= link_to group.name, group %>
                                </p>
                            </h3>

                            <div style="height:60px;line-height:20px; /* Height / no. of lines to display */overflow:hidden; margin-bottom:30px">
                                <p>
                                    <%= group.description.html_safe %>
                                </p>
                            </div>

                            <ul class="list-inline list-unstyled text-right">
                                <li><span><i class="glyphicon glyphicon-calendar"></i>
                                        <%= group.created_at%> </span></li>
                                <span>
                                    <p>Number of members:
                                        <%= group.members.count %>
                                    </p>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <%end%>
            <% else %>
            <div class="offset-4 col-8">
                <p><strong> There is no groups. </strong></p>
            </div>
            <% end %>
            <hr>
        </div>

        <!-- Joining Groups -->
        <div class="row">
            <div>
                <h3 class="page-header">Joining Groups</h3>
            </div>
            <% if @user.joining_groups.count != 0 %>
            <% @user.joining_groups.each do |group| %>
            <div class="row">
                <div class="well" style="background-color:#ffffff">
                    <div class="media" style="height: 170px">
                        <div class="pull-left">
                            <% if @user.picture_path != nil %>
                            <img class="media-object" style="width: auto; height: 150px" src=" <%=@user.picture_path%>"
                                alt="have image">
                            <% else %>
                            <img class="media-object" style="width: auto; height: 150px" src="https://us.123rf.com/450wm/apoev/apoev1709/apoev170900088/85467744-default-avatar-anime-girl-profile-icon-grey-photo-manga-placeholder.jpg?ver=6">
                            <% end %>
                        </div>

                        <div class="media-body" style="width:900px">
                            <h3 class="media-heading">
                                <p>
                                    <%= link_to group.name, group %>
                                </p>
                            </h3>

                            <div style="height:60px;line-height:20px; /* Height / no. of lines to display */overflow:hidden; margin-bottom:30px">
                                <p>
                                    <%= group.description.html_safe %>
                                </p>
                            </div>

                            <ul class="list-inline list-unstyled text-right">
                                <li><span><i class="glyphicon glyphicon-calendar"></i>
                                        <%= group.created_at%> </span></li>
                                <span>
                                    <p>Number of members:
                                        <%= group.members.count %>
                                    </p>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <%end%>
            <% else %>
            <div class="offset-4 col-8">
                <p><strong> There is no groups. </strong></p>
            </div>
            <% end %>
            <hr>
        </div>

        <script type="text/javascript">
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $("#avatar")
                            .attr("src", e.target.result);
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $("a.upload-new-pic").on("click", function (e) {
                e.preventDefault();
                $("#upload-pic:hidden").trigger("click");
            });
            $("#upload-pic:hidden").change(function () {
                readURL(this);
            });
        </script>